Repository uccser/cs-unplugged, pull requests merged in 2020-10, with the labels that each got.

#1450 Re-number product code check digits programming challenges
  csunplugged/topics/content/structure/error-detection-and-correction/programming-challenges/programming-challenges.yaml
Labels: bug, content: programming challenges

#1453 Add link to PII from programming challenges on educators site
  csunplugged/static/scss/plugging-it-in-base.scss
  csunplugged/static/scss/plugging-it-in-footer.scss
  csunplugged/static/scss/website.scss
  csunplugged/templates/base-plugging-it-in.html
  csunplugged/templates/plugging_it_in/about.html
  csunplugged/templates/plugging_it_in/index.html
  csunplugged/templates/topics/programming-challenge.html
Labels: content: programming challenges

#1452 Fix PII edge case where neither Next Challenge nor Previous Challenge buttons are needed, AND fix bug where translation not available message was not displayed
  csunplugged/static/js/editor-options-menu.js
  csunplugged/templates/plugging_it_in/programming-challenge.html
  csunplugged/templates/topics/not-available-warning.html
Labels: bug

#1456 Hide pii walkthrough on small screens
  csunplugged/static/scss/programming-editor.scss
Labels: bug, suggestion

#1454 Prevent navbar from cutting off content on smaller screens for PII
  csunplugged/static/scss/plugging-it-in-base.scss
  csunplugged/static/scss/plugging-it-in-footer.scss
  csunplugged/templates/base-plugging-it-in.html
  csunplugged/templates/plugging_it_in/programming-challenge.html
Labels: bug, frontend

#1464 Hotfix 6.0.1: Make previous submission for a PII challenge load straight into the answer box
  csunplugged/config/__init__.py
  csunplugged/plugging_it_in/views.py
  csunplugged/static/js/jobe-editor.js
  csunplugged/templates/plugging_it_in/programming-challenge.html
  docs/source/changelog.rst
Labels: bug, content:plugging-it-in

#1466 Merge hotfix 6.0.1 into develop
  csunplugged/config/__init__.py
  csunplugged/plugging_it_in/views.py
  csunplugged/static/js/jobe-editor.js
  csunplugged/templates/plugging_it_in/programming-challenge.html
  docs/source/changelog.rst
Labels: bug, content:plugging-it-in
